.Phonetic a {
    border:  1px solid #ddd;
    border-radius: 20px;
    font-size: 12px;
    padding: 10px 20px;
    text-decoration: none;
}

.Phonetic .text {
    font-weight: bold;
    opacity: 0.5;
}